# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: dockerhubconnection
- task: Docker@2
  displayName: Build and Push
  inputs:
    command: buildAndPush
    repository: dantheman999/gatling.runner
    tags: |
      $(Build.BuildNumber)
      $(Build.SourceBranchName)
      latest